.composition {
    
    position: relative;

    &__photo {
        width: 55%;
        /* Define images in % because it'll be more responsive for diff viewports */
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        /* Take the pictures out of flow */
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        /* Give space between content and bordder */

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            /* Once hovered, shadow increases and is darker */
            z-index: 20;
            /* So the one image goes on top */
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    /* .composition:hover .composition__photo:not(:hover) */
    /* Not the photo that's hovered on */

}

