.header {
    height: 95vh; 
    /* 95% of viewport height */
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg); 
    /* Gradient is always back-ground image. From light green to dark green*/
    background-size: cover; 
    /* Will always try to fit element into width of box */
    background-position: top; 
    /* When adjusting viewport size, top of image will remain the same */
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem; 
        /* This shifts due to the position of the parent element-- header */
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    /* Centers the header */
    &__text-box {
        position: absolute;
        top: 40%; 
        /* This moves the element in relation to parent element */
        left: 50%;
        transform: translate(-50%, -50%); 
        /* The transform is in no relation to the parent element, but of the element itself */
        text-align: center;
    }
}